* {
    margin: 0;
    padding: 0;

}

body {
    font-family: 'Roboto', sans-serif; 
    line-height: 1.6;
    background-color: #f0f2f5;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    padding: 30px 0;
}

.khung-cv {
    display: flex;
    width: 900px; 
    max-width: 95%; 
    border-radius: 10px;
    overflow: hidden;
    position:absolute
}

.column-left {
    width: 36%;
    background-color: #4F94CD;
    color: white;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    display:inline-block;
}

.khunganh{
    margin-bottom: 25px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid white;
    margin-left:80px;
}

.anh {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.column-left h1 {
    color: white;
    margin-top: 20px;
    margin-bottom: 17px;
    width: 100%; 
    position:inherit;
    font-size:200%;
}
.column-left p {
    font-size: 110%;
    text-align: left;
    margin-bottom: 20px;
}
.contact-lienhe {
    width: 100%;
    padding-left:1px;
}
.contact-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-size: 0.1em;
    padding-left: 1px;
}
.contact-icon{
    height:30px;
    width:auto;
}
.skill {
    width: calc(100% - 20px);
    height: clamp(6px, 1.2vw, 12px);
    background-color: #fffafa;
    border-radius: 10cm;
    border: clamp(2px, 0.4vw, 4px) solid #ebebeb;
}
.muc-skill {
    height: 100%;
    background-color: #5B7B90;
    border-radius: 10cm;
    right: 0;
    transition: all 0.2s;
}
.skill-khung{
    margin-bottom:1px;
}
.right-column {
    width: 64%;
    padding: 30px 40px;
    background-color: #FFFF99;
}

.header-gioithieu {
    margin-bottom: 30px;
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
    font-size:100%;
    color: #666;
}

.header-gioithieu h1 {
    font-size: 290%;
    color: #333;
    margin-bottom: 5px;
}
.right-column section {
    margin-bottom: 30px;
}
.right-column h2 {
    font-size: 200%;
    color: #436EEE;
    border-bottom: 2px solid #007bff;
    padding-bottom: 8px;
    margin-bottom: 20px;
}
.khung-qua-trinh{
    margin-bottom: 15px;
}
.quatrinh {
    font-weight: bold;
    color: #555;
    margin-bottom: 5px;
    font-size: 1em;
}
.mota{
    font-style: normal;
    color: #333;
    font-size: 110%;
    margin-bottom: 8px;
}
.kinhnghiem {
    font-weight: bold;
    color: #555;
    margin-bottom: 5px;
    font-size: 30px;
}
.exp-entry ul {
    list-style: disc;
    margin-left: 25px;
    font-size: 0.95em;
    color: #444;
    margin-bottom:10px;
    font-size:110%;
}
