body {
    overflow: hidden;
}
.diver {
    position: absolute;
    left:-100px; top: 0px;
    animation-name: diver;
    animation-duration: 25s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

.turtle {
    position: fixed;
    left:-100px; bottom: 200px;
    animation-name: turtle;
    animation-duration:20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: running;
}


.cua {
    position: absolute;
    right: -100px; bottom: 100px;
    animation-name: cua;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: running;

}
.fish {
    position: absolute;
    left:-100px; bottom: 300px;
    animation-name: fish;
    animation-duration: 18s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

.fish2 {
    position: absolute;
    right: -100px; bottom: 400px;
    animation-name: fish;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

.fish3 {
    position: absolute;
    left:-100px; bottom: 200px;
    animation-name: fish;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

.clownfish {
    position: absolute;
    right: -100px; top: 150px;
    animation-name: clownfish;
    animation-duration: 7s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

.clownfish1 {
    position: absolute;
    right: -100px; top: 250px;
    animation-name: clownfish;
    animation-duration: 12s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

.clownfish2 {
    position: absolute;
    right: -100px; top: 500px;
    animation-name: clownfish;
    animation-duration: 34s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

.clownfish3 {
    position: absolute;
    right: -100px; top: 300px;
    animation-name: clownfish;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

.seaweed {
    position: fixed;
    left: 5%; bottom: -20px;
    display: flex;
}
.sanho {
    position: fixed;
    left: -2%; bottom: -30px;
}
.sanho2{
    position: fixed;
    right: 0%; bottom: -40px;
}
.seaweed2 {
    position: fixed;
    right: 5%; bottom: -20px;
    display: flex;
}
.heart {
  position: absolute;
  top: -50px;
  font-size: 24px;
  animation: fall linear forwards;
  color: hotpink;
}

@keyframes fall {
    from {
        transform: translateY(100vh);
    }
    to {
        transform: 0vh;
        opacity: 0;
    }
}

@keyframes diver{
    0% {left: 0%; top: 10%; transform: scaleX(1);}
    24% {left: 25%; top: 50%; transform: scaleX(1);}
    25% {left: 25%; top: 60%; transform: scaleX(-1);}
    49%{left: 0%; top: 75%; transform: scaleX(-1);}
    50%{left: 0%; top: 75%; transform: scaleX(1);}
    69% {left: calc(100% - 300px); top: 25%; transform: scaleX(1);}
    70% {left: calc(100% - 300px); top: 25%; transform: scaleX(-1);}
    99% {left: 0%; top: 0%; transform: scaleX(-1);}
    100% {left: 0%; top: 0%; transform: scaleX(1);}
}

@keyframes turtle{
    0% {left: 0%; top: 80%; transform: scaleX(1);}
    24% {left: 25%; top: 50%; transform: scaleX(1);}
    25% {left: 30%; top: 55%; transform: scaleX(-1);}
    49%{left: 0%; top: 75%; transform: scaleX(-1);}
    50%{left: 0%; top: 75%; transform: scaleX(1);}
    69% {left: calc(100% - 300px); top: 25%; transform: scaleX(1);}
    70% {left: calc(100% - 300px); top: 25%; transform: scaleX(-1);}
    99% {left: 0%; top: 70%; transform: scaleX(-1);}
    100% {left: 0%; top: 80%; transform: scaleX(1);}
}

@keyframes fish{
    0% {left: 0%; transform: scaleX(1);}
    49% {left: calc(100% - 150px); transform: scaleX(1);}
    50% {left: calc(100% - 150px); transform: scaleX(-1);}
    99% {left: 0%; transform: scaleX(-1);}
    100% {left: 0%; transform: scaleX(1);}
}

@keyframes cua{
    0% {right: 0%; transform: scaleX(-1);}
    49% {right: calc(100% - 150px); transform: scaleX(-1);}
    50% {right: calc(100% - 150px); transform: scaleX(1);}
    70%{right:50%; bottom:30%;transform: scaleX(1);}
    99% {right: 0%; transform: scaleX(1);}
    100% {right: 0%; transform: scaleX(-1);}
}

@keyframes clownfish{
    0% {right: 0%; transform: scaleX(1);}
    49% {right: calc(100% - 100px); transform: scaleX(1);}
    50% {right: calc(100% - 100px); transform: scaleX(-1);}
    65% {right:75%; top:20%;}
    80% {right:70%; top:25%;}
    99% {right: 0%; transform: scaleX(-1);}
    100% {right: 0%; transform: scaleX(1);}
}